@font-face {
    font-family: quicksand;
    src: url(fonts/quicksand-regular-webfont.woff);
}

:root{
    --smoke-green:  rgb(71, 131, 71);
    --light-air:    #f0fafb;
    --title-transparency: rgba(42, 44, 46, 0.5);
    --main-contrast: rgb(248, 243, 218);
    --shadow: #777;

}
body{
   width: 1200px;
   margin: 0 auto; 
   background-color: var(--light-air);
   display: flex;
   flex-direction: row;
   font-family: Helvetica, Arial, Helvetica, sans-serif, system-ui;
   height: 100vh;
   
}

article, aside {
    padding-top: 15vh;
    padding-bottom: 5vh;
}

aside{
    background-color: var(--light-air);
    width:  35%;
    flex: 1 1 auto;
    background-image: url("images/aside_bg.jpg");
    background-position: top left;
    background-size: 100vh;
    position: relative;
 
}

main{
    background-color: var(--main-contrast);
    width: 65%;
    flex: 1 1 auto;
    padding: 20px;
}

.title h1{
    font-family: quicksand, Verdana, Geneva, Tahoma, sans-serif, system-ui;
    font-size: 5rem;
    padding-left: 10%;
    color: white;
}

h2{
    font-size: 1.5rem;
    font-weight: bold;
}

form p{
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    top:0;
    left:0;
    padding: 10px 20px;
}

.title{
    display: flex;
    flex-direction: row;
    padding: 40px;
    background-color: var(--title-transparency);
}

.photo_credit{
    color: white;
    position: absolute;
    bottom: 0;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 0.8rem;
}

.photo_credit a:link, .photo_credit a:visited{
    color: white;
}

.title > *{
    display: inline;
}

form{
    position: relative;
    display: flex;
    flex-direction: column;
    --valid-green:  rgb(190, 252, 190);
    --invalid-red: rgb(248, 187, 187);
    
}

.inputs{
    display: flex;
    flex-direction: row;
    box-shadow: var(--shadow) 0px 7px 20px 0px;
    
}

.inputs > div{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 40px 20px;
   
}

.inputs label{
    font-size: 0.8rem;
    padding-left: 10px;
}

.inputs input{
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px inset gray;
   
}

button{
    width: 50%;
    border-radius: 10px;
    background-color: var(--smoke-green);
    color: white;
    height: 2.5rem;
    font-size: 1.2rem; 
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: #777 5px 5px;
}

button, .login{
    margin-left: 20px;
}

.login a:link, .login a:visited{
    color:  var(--smoke-green);
}

.inputs input:focus{
    box-shadow: inset #777 2px 2px 2px 2px;
    border: 3px solid blue;
    margin-bottom: 6px;
}

input:valid{
    background-color: var(--valid-green);
}

input:invalid{
    background-color: var(--invalid-red);
}

input[type="password"]:invalid, input[type="confirm"]:invalid{
    border-color: red;
    border-width: 2px;
    margin-bottom: 8px;
}

